body {
    display: flex;
    flex-direction: column;
}


h2 {
    margin-left: 500px;
    margin-top: -150px;
    padding-bottom: 100px;
}

#contact-info {
    margin-left: 500px;
    margin-top: -300px;
    margin-right: 100px;
    padding-bottom: 100px;
}

h1 {
    color: black;
}

.image-middler > aside {
    color: black;
    height: 20px;
    left: 475px;

}

.image-middler {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .image-middler > img {
    display: inline;
    max-width: 400px;
    min-width: 200px;
    max-height: 500px;
    padding: 5px;
    margin: 30px;
  }

  .image-middler > img:hover {
    transform: scale(1.1);
    background-color: RGB(166, 47, 49);
  }

  h2 {
    color: black;
  }
