body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    max-height: 400px;
  }

  h1 {
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;  
    margin: 20px;
    flex-wrap: wrap;
  }

  main {
    flex-grow: 1;
    flex-basis: 0;
    color: white;
    max-height: 400px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: RGB(166, 47, 49);
    font-family: sans-serif;
    
  }

  header, footer, main {
    font-size: 12px;
  }

  .middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .middler > h1 > a {
    text-decoration: none;
    color: RGB(166, 47, 49); 
  }

  .middler > h1 > a:hover {
    color: gray;
  }

  .image-middler {
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .image-middler > img:hover {
    transform: scale(1.1);
  }

  .image-middler > img {
    border: 3px RGB(166, 47, 49) solid;
    box-shadow: 0 0 5px black;
    min-width: 20%;
    max-width: 35%;
    height: auto;
  }

  .bottom-middler {
    color: RGB(166, 47, 49);
    font-family: sans-serif;
    font-size: 13.5px;
    margin: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: RGB(166, 47, 49);
  
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .navlink > a {
    color: white;
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .navlink > a:hover {
    background-color: gray;
  }

  @media (max-width: 400px) {
    .middler > h1 {
      font-size: 22px !important;
    }

    .navlink > a {
      font-size: 1.0em;
    }
  }
  
  
  